<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input"  placeholder="请输入name" value="{$row.name|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="text" name="sex" class="layui-input"  placeholder="请输入sex" value="{$row.sex|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" class="layui-input"  placeholder="请输入age" value="{$row.age|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">省份</label>
            <div class="layui-input-block">
                <input type="text" name="province" class="layui-input"  placeholder="请输入province" value="{$row.province|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">院校</label>
            <div class="layui-input-block">
                <input type="text" name="university" class="layui-input"  placeholder="请输入university" value="{$row.university|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" class="layui-input"  placeholder="请输入username" value="{$row.username|default=''}">
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>